<div th:replace="admin/fragments/header :: header"></div>
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">회원정보</h1>
        <div class="btn-group mb-2 mb-md-0"></div>
    </div>
    <div class="userinfo row">
        <div class="col-xl-4">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">회원 프로필</div>
                <div class="card-body text-center">
                    <img class="img-account-profile rounded-circle mb-2" id="user-avatar" src="http://bootdey.com/img/Content/avatar/avatar7.png" alt="">
                    <blockquote class="blockquote">
                        <p id="username">홍길동</p>
                    </blockquote>
                    <div class="d-md-block">
                        <button type="button" class="btn btn-outline-primary btn-sm" onclick="location.href='/adm/userInfo.html'">
                            <i class="bi bi-person-square"></i>&nbsp;회원정보
                        </button>
                    </div>
                    <hr>
                    <div th:if="${isSeller}" class="input-group mb-3">
                        <label class="input-group-text" for="inputGroupSelect01"><i class="bi bi-calendar3"></i>&nbsp;업무 접수</label>
                        <select class="form-select job-status" id="jobStatus">
                            <option selected>업무 상황</option>
                            <option value="possible">가능</option>
                            <option value="busyness">바쁨</option>
                            <option value="review">내용에 따라</option>
                        </select>
                    </div>
                    <div th:if="${isSeller}" class="input-group">
                        <span class="input-group-text"><i class="bi bi-clock"></i>&nbsp;업무 시간</span>
                        <input id="shedule" type="text" aria-label="First name" class="form-control padding6 work-time" value="">
                    </div>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">회원 프로필 수정</div>
                <div class="card-body">
                    <form id="userUpdateSelfInfo">
                        <div class="text-center">
                            <img class="img-account-profile rounded-circle mb-2" id="user-profile-avatar" src="/assets/img/no_image_person.svg" />
                            <div class="d-md-block">
                                <label for="formFile" class="form-label"></label>
                                <input class="form-control" type="file" id="user-upload-avatar">
                            </div>
                        </div>
                        <div class="form-floating mb-3 userInfo">
                            <input type="text" class="form-control" id="register-name" name="username" placeholder="" value="">
                            <label for="floatingInput">이름</label>
                            <button type="button" class="btn btn-outline-warning btn-sm margintop" onclick="checkNameDuplicate()">사용가능 확인</button>
                        </div>
                        <div th:if="${isSeller}" class="form-floating">
                            <textarea class="form-control" placeholder="" name="cPhrase" id="cPhrase"></textarea>
                            <label for="floatingTextarea">캐치프레이즈</label>
                        </div>
                        <div th:if="${isSeller}" class="form-floating userInfo">
                            <textarea class="form-control" placeholder="" name="selfIntro" id="selfIntro"></textarea>
                            <label for="floatingTextarea">자기소개</label>
                        </div>
                        <select th:if="${isSeller}" id="job-status"  name="jobStatus" class="form-select job-status select_height userInfo" aria-label="Default select exampl">
                            <option selected>업무접수</option>
                            <option value="possible">가능</option>
                            <option value="busyness">바쁨</option>
                            <option value="review">내용에 따라</option>
                        </select>
                        <div th:if="${isSeller}" class="form-floating userInfo">
                            <textarea class="form-control work-time" placeholder="" name="shedule" id="work-time"></textarea>
                            <label for="floatingTextarea">업무시간</label>
                        </div>
                        <div class="userinfo" align="right">
                            <button type="reset" class="btn btn-outline-secondary">리셋</button>
                            <button type="button" class="btn btn-outline-primary" onclick="userUpdateSelf()">수정</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>                
    </div>
</main>    
<div th:replace="admin/fragments/footer :: footer"></div>
<script type="text/javascript" th:src="@{/js/admin/user-update-self-render.js}"></script>      