<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" lang="ko">
<div th:fragment="footer">
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script type="text/javascript" th:src="@{/js/color-modes.js}"></script>
<script type="text/javascript" th:src="@{/js/yoon.include-html.js}"></script>
<script type="text/javascript" th:src="@{/js/yoon.drag.drop.upload.js}"></script>
<script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js}" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{https://cdn.jsdelivr.net/npm/chart.js@4.2.1/dist/chart.umd.min.js}" integrity="sha384-gdQErvCNWvHQZj6XZM0dNsAoY4v+j5P1XDpNkcM3HJG1Yx04ecqIHk7+4VBOCHOG" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/dashboard.js}"></script>
<script type="text/javascript" th:src="@{/js/basic/validation.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/user-update-basic.js}"></script>
<script type="text/javascript" th:src="@{/js/admin/user-update-self.js}"></script>
</body>
</div>
</html>